body {
	position: relative;
	display: block;
	flex-direction: unset;
	justify-content: unset;
	color: #fff;
	line-height: 1.5;
	--minContent: 0;
}

.header1 {
	top: 0; left: 0; right: 0; 
	line-height: unset;
}

.header1 .header-btn1 {
	background-color: #ff5722;
}

.subtitle-mobile-developer {
	position: absolute; top: 182px; left: 100px; 
	--minContent: 205;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: MIN;
}

.row2 {
	position: absolute; top: 222px; left: 100px; 
	align-self: unset;
}

.text-job-description {
	position: absolute; top: 270px; left: 100px; 
	--minContent: 124;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: MIN;
}

.text-ipsum-vitae {
	position: absolute; top: 317px; left: 100px; right: 660px; 
	--minContent: 440;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.col2 {
	position: absolute; top: 182px; right: 100px; 
	width: calc(100% - 200px);
	max-width: 490px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	--minContent: 490;
	--hSizing: FIXED;
	--vSizing: HUG;
	--pConstraintHorizontal: MAX;
	--pConstraintVertical: MIN;
}

.col3 .column-row3 {
	border: 1px solid #fff;
}

.btn1 {
	position: absolute; top: 750px; right: 100px; 
	width: calc(100% - 200px);
	max-width: 490px;
	justify-content: center;
	color: #000;
	font-size: 16px;
	text-align: center;
	background-color: #ffeb3b;
	padding-left: 24px;
	padding-right: 24px;
}
