body {
	align-items: center;
	gap: 56px;
	--minContent: 1048;
}

.header1 .row-btn {
	background-color: #ff5722;
}

.main-section1 .main-section-text {
	color: #fff;
}

.main-section1 .main-section-img1 {
	width: 211px;
}

.main-section1 .main-section-img-right {
	width: 100%;
	max-width: 416px;
}

.row2 {
	margin: 0 auto;
	width: 90%;
	max-width: 1000px;
	display: flex;
	align-items: center;
	gap: 40px;
	--minContent: 1000;
	--hSizing: FIXED;
	--vSizing: HUG;
	--pConstraintHorizontal: CENTER;
	--pConstraintVertical: MIN;
}

.card-right2 {
	width: 88%;
	align-items: stretch;
	gap: 32px;
	flex-grow: 1;
	color: #fff;
	padding-bottom: 24px;
	--minContent: 420;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: CENTER;
}

.card-right-col {
	display: flex;
	flex-direction: column;
	gap: 16px;
	--minContent: 372;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.card-right-col-bottom {
	container: card-right-col-bottom / inline-size;
	display: flex;
	flex-direction: column;
	gap: 16px;
	--minContent: 372;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.card-right-row {
	display: flex;
	align-items: center;
	gap: 18px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.429;
	letter-spacing: -0.28px;
	--minContent: 372;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.card-right-col-left {
	width: 99%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	flex-grow: 1;
	--minContent: 176;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: CENTER;
}

.row-top3 {
	width: 176px;
	justify-content: space-between;
	gap: unset;
}

.row-bottom3 {
	justify-content: center;
	align-self: stretch;
}

.row-bottom3 .row-lets-icons {
	margin-left: -5px;
}

.col-right3 {
	width: 101%;
}

.col-right3 .row-bottom2 {
	justify-content: center;
	align-self: stretch;
}

.col3 .col-top1 .column-text4 {
	color: #fff;
}

.col4 {
	margin-top: 8px;
}

.col5 .column-btn {
	font-size: 16px;
	line-height: 1.5;
	background-color: #000;
}

.footer1 .col-left1 {
	width: 258px;
}

.footer1 .col-right1 {
	width: 127px;
	align-items: flex-start;
}

.footer1 .col-right1 .column-subtitle2 {
	align-self: stretch;
}

.footer1 .col-right1 .column-col {
	width: 127px;
	align-items: flex-start;
}

.footer1 .col-right1 .column-text2 {
	align-self: stretch;
}

.footer1 .col-right1 .column-text-saa-s-optimization {
	align-self: stretch;
}

.footer1 .col-right1 .column-text-digital {
	align-self: stretch;
}

.footer1 .footer-devicon1 {
	margin-top: 0;
}

.footer1 .footer-devicon-jira {
	margin-left: 80px;
}

.footer1 .footer-devicon-drupal {
	margin-left: 120px;
}

.footer1 .footer-mdi-github {
	margin-top: 12px;
}

.footer1 .footer-ic-baseline1 {
	margin-left: 40px;
}

.footer1 .footer-logos-figma {
	margin-left: 80px;
}

.footer1 .footer-logos-google1 {
	margin-left: 120px;
}

.footer1 .footer-bi-javascript {
	margin-top: 12px;
}

.footer1 .footer-logos-mysql {
	margin-left: 40px;
}

.footer1 .footer-devicon-plain {
	margin-left: 80px;
}

.footer1 .footer-logos-google2 {
	margin-left: 120px;
}

.footer1 .footer-simple-icons {
	margin-top: 12px;
}

.footer1 .footer-devicon2 {
	margin-left: 40px;
}

.footer1 .footer-ri-php-line {
	margin-left: 80px;
}

.footer1 .footer-logos-aws {
	margin-left: 120px;
}

.footer1 .footer-devicon-typo3 {
	margin-left: 80px; margin-top: 12px;
}

.footer1 .footer-logos-meta {
	margin-left: 120px;
}

.footer1 .footer-logos-miro {
	margin-top: 12px;
}

.footer1 .footer-logos-git {
	margin-left: 40px;
}

.footer1 .footer-logos-hotjar {
	margin-left: 80px;
}

.footer1 .footer-devicon-swift {
	margin-left: 120px;
}

.footer1 .footer-devicon3 {
	margin-left: 40px; margin-top: -19px;
}

.footer1 .footer-devicon4 {
	margin-left: 80px;
}

.footer1 .footer-devicon-sketch {
	margin-left: 120px;
}

.footer1 .footer-devicon-slack {
	margin-top: -96px;
}

.footer1 .footer-logos-react {
	margin-left: 40px;
}

.footer1 .footer-ic-baseline2 {
	margin-left: 40px; margin-top: -168px;
}



/* container queries (flex rows) */

@container body (width < 999px) {
	.row2 {
		flex-direction: column;
		align-items: stretch;
		gap: 97px;
	}
	.row2 > .main2 {
		width: 100%;
	}
	.row2 > .card-right2 {
		width: 100%;
	}
}

@container card-right-col-bottom (width < 371px) {
	.card-right-row {
		flex-direction: column;
		align-items: flex-start;
		gap: 12px;
	}
	.card-right-row > .card-right-col-left {
		width: 100%;
	}
	.card-right-row > .col-right3 {
		width: 100%;
	}
}
